@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #cdcdcd;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* keep below */

@layer base {
  button {
    @apply cursor-pointer;
  }

  /* Optional: Apply it to inputs that act like buttons too */
  input[type="submit"],
  input[type="button"] {
    @apply cursor-pointer;
  }
}

@layer base {
  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}
